// button [view all]
.btn {
   display: inline-block;
   border-radius: 6px;
   font-size: .9rem;
   font-weight: 500;
   margin: 0 0 .25rem  2rem;
   padding: .5rem .75rem;
   text-decoration: none;
}